/*@import url("comment_comic.css"); */
html{
	position: relative;
	min-height:100%;
	font-family: 'Playfair Display', serif;
}

body{
	background-color: #ddd;
	margin: 0 0 150px;
}

#header{
	background-color:#333;
	border: 1px solid #000;
	border-top:0px;
	padding:20px;
	box-shadow: 0px 3px 10px #888888;
}

#header-nav{
	text-transform: uppercase;
	display : inline-block;
	width: auto;

}

#header-nav a{
	color: #fff;
	font-style: normal;
	text-decoration: none;
}

#header-nav li{
	display: inline;
	background-color: #555;
	padding: 5px 5px 5px 5px;
	margin-left: 15px;	
	border: 1px solid #111;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 3px;
	box-shadow: 0px 1px 3px #111;
}

#header-nav li:hover{
	background-color: #38d;
}

.pull-right{
	float:right;
}

#logo{
	/* placeholder in case we need it */
}

.main{
	width:inherit;
	margin:25px 2% 0 2%;
	position:relative;
	height: inherit;
	box-shadow: 0px 3px 10px #888888;
}

.comicContainer {
	border: 1px solid #000;
	margin: 0 0 10px 0;
  	padding: 5px;
	width: 50%;
}

.comicContainer img {
	width:100%;
}

#sidebar{
	border: 1px solid #000;
	width:250px;
	height:auto;
	position: absolute;
}

#content{
	position:relative;
	width:auto;
	background-color: #FDF9C9;
	height:auto;
	padding: 20px;
	border:1px solid #000;
}

#footer{
	background-color:#333;
	color: #fff;
	position:absolute;
	border-top:1px solid #000;
	width:100%;
	height:150px;
	bottom:0;
	left:0;
	box-shadow: 0px -3px 10px #888888;
}

.inner-footer{
	position:relative;
	padding: 20px 50px 0 50px;
}

.left-column{
	position: relative;
	float:left;
	display: block;
	width:30%;
	border:1px solid #000;

}

.right-column{
	position: relative;
	display:inline-block;
	width:65%;
	float: right;


}

#profile-image{
	border:1px solid #000;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background-color:#fff;
}

.container {
	padding:20px;
}

#side-navigation ul{
	padding: 0px;
	list-style-type: none;
}

#side-navigation li{
	border:1px solid #000;
	background-color: #555;
	margin:0px;
	padding:10px;
}

#side-navigation li:hover{
	background-color: #38d;
}

#side-navigation a{
	color:#fff;
}

.grey{
	background-color:#777;
}

.feed-item{
	border:1px solid #000;
	margin:10px;
	background-color:#fff;
	padding:10px;
}

/* BEGIN USE CASE 2 RELATED CSS */
.comic-spotlight{
	width:100%;
	border:1px solid #000;
}

#comic-playground{
	width:800px;
}

.comic-note{
	position:absolute;


}

.note-link{
	position:absolute;
	top:0;
	left:0;
}

.note-body{
	background-color:#fff;
	padding:10px;
	border:1px solid #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: none;
}

/* END USE CASE 2 RELATED CSS */



